@model LizardCode.SalmaSalud.Application.Models.PortalPacientes.NuevaSolicitudViewModel;
@{
    Layout = "~/Views/Shared/BaseLayoutPortal.cshtml";

    ViewBag.Title = "";
    ViewBag.MainClass = "NuevaSolicitudView";
    ViewBag.AjaxAction = Url.Action("GuardarSolicitud", "PortalPacientes");
}

@section Styles {
    <link href="/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/datatables/Buttons-1.6.1/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="/lib/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/lib/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/css/Shared/dt-global_style.css?1325" rel="stylesheet" />

    <link href="/css/Shared/maestroLayout.css?1325" rel="stylesheet" />
    <link href="/css/Shared/modal.css?1325" rel="stylesheet" />
    <link href="/css/Views/PortalPacientes/nuevaSolicitud.css?1325" rel="stylesheet" />
}

<div class="@ViewBag.MainClass" data-mainclass="@ViewBag.MainClass">

    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header p-2">
                    <h5 class="card-title mt-2 ml-2"> NUEVA SOLICITUD DE TURNO</h5>
                    <hr />
                </div>
                    @using (Html.AjaxBeginForm((string)ViewBag.AjaxAction, (string)ViewBag.MainClass, begin: "ajaxBegin", success: "ajaxSuccess", failure: "ajaxFailure", css: "frmMisDatos"))
                    {
                        <div class="card-body">
                            <div class="col">
                            <div class="row">

                                @Html.FormGroupDropDownListFor(m => m.IdEspecialidad, Model.MaestroEspecialidades, "Especialidad", fieldCss: "select2-field validate especialidad")

                                @Html.FormGroupDropDownListFor(m => m.Dias, Model.MaestroDias, "Días de preferencia", fieldCss: "select2-field validate dia", multiple: true)

                                @Html.FormGroupDropDownListFor(m => m.RangosHorarios, Model.MaestroRangosHorarios, "Rangos Horarios de preferencia", fieldCss: "select2-field validate rangoHorario", multiple: true)

                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-secondary btnCerrar"><i class="fa fa-times"></i> SALIR</button>
                            <button type="submit" class="btn btn-primary btnActualizar"><i class="fa fa-check"></i> SOLICITAR</button>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="/lib/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables/DateTime-1.10.x/datetime-moment.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/select.bootstrap4.min.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/select2_locale_es.js?1325"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/autonumeric/autoNumeric.min.js"></script>
    <script src="/lib/jquery-alphanum/jquery.alphanum.js"></script>
    <script src="/lib/cleave/cleave.min.js"></script>
    <script src="/lib/cleave/cleave.jquery.js"></script>
    <script src="/lib/cleave/cleave-phone.ar.js"></script>
    <script src="/lib/flatpickr/flatpickr.js"></script>
    <script src="/lib/flatpickr/es.js"></script>

    <script src="/js/Helpers/dataTables.helper.js?1325"></script>
    <script src="/js/Helpers/select2.helper.js?1325"></script>
    <script src="/js/Helpers/formData.helper.js?1325"></script>
    <script src="/js/Helpers/ajax-action.js?1325"></script>
    <script src="/js/Helpers/constraints.helper.js?1325"></script>
    <script src="/js/Helpers/accounting.helper.js"></script>
    <script src="/js/Helpers/dropdown-group-list.helper.js?1325"></script>
    <script src="/js/Helpers/parseDynamicContent.helper.js?1325"></script>

    <script src="/js/Shared/enums.js?1325"></script>

    <script src="/js/Views/TurnosSolicitud/nuevaSolicitud.js?1325"></script>

}