@using System.Linq.Expressions;
@using LizardCode.Framework.Application.Models.Repeater;
@using LizardCode.Framework.Application.Common.Annotations;
@using System.Reflection;
@using System.Collections;
@using System.ComponentModel.DataAnnotations;

@model LizardCode.Framework.Application.Models.Repeater.RepeaterViewModel
@{
    Layout = null;

    var rndId = new Random().Next(1, 999999).ToString("000000");
}

<div class="repeater-component">
    
    @Html.Hidden($"hidRepeaterMinItems_{rndId}", value: 0, new { @class = "hidMinValidator" })
    @Html.Hidden($"hidRepeaterMaxItems_{rndId}", value: 0, new { @class = "hidMaxValidator" })

    <table class="repeater-table">
        <thead>
            <tr>
                @foreach (var column in Model.Columns)
                {
                    var hidden = (column.Type == RepeaterColumnType.Hidden ? $"class=\"hidden\"" : "");
                    var width = (
                        column.Width > 0
                            ? $"style=\"width:{column.Width}px;min-width:{column.Width}px;max-width:{column.Width}px\""
                            : "style=\"width:100%\""
                    );

                    <th @Html.Raw(hidden)@Html.Raw(width) data-property="@column.PropertyName"><span>@column.Header</span></th>
                }
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                var template = Activator.CreateInstance(Model.ItemType);

                Model.Items.Insert(0, template);
                RenderRow(template, 0, "repeater-row-template");
            }

            @foreach (var item in Model.Items.Skip(1))
            {
                var idx = Model.Items.IndexOf(item) - 1;
                RenderRow(item, idx);
            }
        </tbody>

        <tfoot class="@(Model.Items.Count > 1 ? "hidden" : "")">
            @{
                var ncols = Model.Columns.Count(c => c.Type != RepeaterColumnType.Hidden);
            }

            <tr>
                <td colspan="@ncols">
                    <div class="btn btn-primary">
                        Lista vacía, haga click aquí para agregar un item nuevo
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>

    <span class="field-validation-valid" data-valmsg-for="hidRepeaterMinItems_@rndId" data-valmsg-replace="true"></span>
    <span class="field-validation-valid" data-valmsg-for="hidRepeaterMaxItems_@rndId" data-valmsg-replace="true"></span>
</div>

@{
    void RenderRow(object item, int index, string @class = null)
    {
        var classAttr = (string.IsNullOrWhiteSpace(@class) ? "" : $"class=\"{@class}\"");
    <tr @Html.Raw(classAttr)>

                @foreach (var column in Model.Columns)
            {
                var pi = Model.ItemType.GetProperty(column.PropertyName);
                var value = pi.GetValue(item);
                var name = $"{Model.Collection}[{index}].{column.PropertyName}";
                var hidden = (column.Type == RepeaterColumnType.Hidden ? $"class=\"hidden\"" : "");
                var htmlAttribues = new Dictionary<string, object>
                {
                    { "class", "repeater-control" },
                    { "data-tooltip-validation", "true" }
                };

                ParseClientValidators(pi, htmlAttribues);
                ParseClientConstraints(pi, htmlAttribues);

                if (column.Readonly)
                {
                    var prop = (
                        (column.Type == RepeaterColumnType.DropDown || column.Type == RepeaterColumnType.Select2)
                        ? "disabled"
                        : "readonly"
                    );
                    htmlAttribues.Add(prop, true);
                }

                switch  (column.Align)
                {
                    case RepeaterColumnAlign.Center:
                        htmlAttribues.Merge("class", "text-center");
                        break;
                    case RepeaterColumnAlign.Right:
                        htmlAttribues.Merge("class", "text-right");
                        break;
                    case RepeaterColumnAlign.Left:
                        htmlAttribues.Merge("class", "text-left");
                        break;
                    case RepeaterColumnAlign.None:
                        break;
                    default:
                        break;
                }
                

                if(column.Align == RepeaterColumnAlign.Right)
                {
                    htmlAttribues.Merge("class", "text-right");
                }

                switch  (column.Type)
                {
                    case RepeaterColumnType.Hidden:
                            <td @Html.Raw(hidden)><input type="hidden" class="repeater-control" id="@name" name="@name" value="@value"/></td>
                        break;

                    case RepeaterColumnType.Check:
                        <td>
                            <div class="n-chk text-center">
                                <label class="new-control new-checkbox checkbox-primary">
                                    <input type="checkbox" class="new-control-input repeater-control" id="@name" name="@name" value="false" @(column.Readonly ? "readonly" : "")>
                                    <span class="new-control-indicator"></span>&nbsp;
                                </label>
                            </div>
                            <input type="hidden" class="repeater-control" id="@name" name="@string.Format("{0}_{1}", name, "_hdn")" value="@value" />
                        </td>
                        break;

                    case RepeaterColumnType.Input:
                            <td>@Html.TextBox(name, value, null, htmlAttribues)</td>
                        break;

                    case RepeaterColumnType.DropDown:
                        htmlAttribues.Merge("class", "no-select2");
                            <td>@Html.DropDownList(name, column.ValueList ?? Enumerable.Empty<SelectListItem>(), string.Empty, htmlAttribues)</td>
                        break;

                    case RepeaterColumnType.Currency:
                        htmlAttribues.Merge("class", "currency");
                        htmlAttribues.Merge("class", "text-right");
                            <td>@Html.TextBox(name, value, null, htmlAttribues)</td>
                        break;

                    case RepeaterColumnType.Number:
                        htmlAttribues.Merge("class", "number");
                        htmlAttribues.Merge("class", "text-right");
                            <td>@Html.TextBox(name, value, null, htmlAttribues)</td>
                        break;

                    case RepeaterColumnType.Select2:
                        htmlAttribues.Merge("class", "repeater-select2 validate");
                            <td>@Html.DropDownList(name, column.ValueList ?? Enumerable.Empty<SelectListItem>(), string.Empty, htmlAttribues)</td>
                        break;

                    default:
                        throw new NotImplementedException();
                }
            }

                <td><i class="fal fa-plus-square action-add"></i><i class="fal fa-minus-square action-remove"></i></td>
        </tr>
    }

    void ParseClientValidators(PropertyInfo pi, Dictionary<string, object> htmlAttributes)
    {
        var customAttributes = pi.GetCustomAttributes();

        foreach (var attr in customAttributes)
        {
            switch (attr.GetType())
            {
                case Type required when required == typeof(RequiredAttribute):
                case Type requiredex when requiredex == typeof(RequiredExAttribute):
                    {
                        var casted = (RequiredAttribute)attr;
                        var message = casted.ErrorMessage;

                        htmlAttributes
                            .Append("data-val", "true")
                            .Append("data-val-required", message);
                    }
                    break;

                case Type remote when remote == typeof(RepeaterRemoteAttribute):
                    {
                        var casted = (RepeaterRemoteAttribute)attr;
                        var message = casted.ErrorMessage;
                        var action = casted.Action;
                        var controller = casted.Controller;
                        var url = Url.Action(action, controller);
                        var fields = casted.AdditionalFields;

                        htmlAttributes
                            .Append("data-val", "true")
                            .Append("data-val-repeaterremote", message)
                            .Append("data-val-repeaterremote-url", url);

                        if (fields.IsNotNull())
                            htmlAttributes.Append("data-val-repeaterremote-additionalfields", fields);
                    }
                    break;
            }
        }
    }

    void ParseClientConstraints(PropertyInfo pi, Dictionary<string, object> htmlAttributes)
    {
        var customAttributes = pi.GetCustomAttributes();

        foreach (var attr in customAttributes)
        {
            switch (attr.GetType())
            {
                case Type required when required == typeof(MaskConstraintAttribute):
                    {
                        var casted = (MaskConstraintAttribute)attr;

                        htmlAttributes
                            .Append("data-constraint", "mask")
                            .Append("data-constraint-type", casted.Type.ToString().ToLower())
                            .Append("data-constraint-blocks", casted.Blocks)
                            .Append("data-constraint-delimiters", casted.Delimiters)
                            .Append("data-constraint-datepattern", casted.DatePattern)
                            .Append("data-constraint-numericonly", casted.NumericOnly.ToString().ToLower())
                            .Append("data-constraint-uppercase", casted.Uppercase.ToString().ToLower());
                    }
                    break;

                case Type required when required == typeof(AutoNumericConstraintAttribute):
                    {
                        var casted = (AutoNumericConstraintAttribute)attr;

                        htmlAttributes
                            .Append("data-constraint", "autonumeric")
                            .Append("data-constraint-type", casted.Type.ToString().ToLower());

                        switch (casted.Type)
                        {
                            case AutoNumericConstraintType.Numeric:
                                htmlAttributes.Append("data-constraint-decimalcharacter", casted.DecimalCharacter.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-digitgroupseparator", casted.DigitGroupSeparator.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-decimalplaces", casted.DecimalPlaces.ToString().ToLower());
                                break;
                            case AutoNumericConstraintType.Currency:
                                htmlAttributes.Append("data-constraint-currencysymbol", casted.CurrencySymbol.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-decimalcharacter", casted.DecimalCharacter.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-digitgroupseparator", casted.DigitGroupSeparator.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-decimalplaces", casted.DecimalPlaces.ToString().ToLower());
                                break;
                            case AutoNumericConstraintType.Percentage:
                                htmlAttributes.Append("data-constraint-decimalcharacter", casted.DecimalCharacter.ToString().ToLower());
                                htmlAttributes.Append("data-constraint-decimalplaces", casted.DecimalPlaces.ToString().ToLower());
                                break;
                        }
                    }
                    break;
            }
        }   
    }
}