@using System.Text.RegularExpressions
@model LizardCode.SalmaSalud.Application.Models.PedidosLaboratorios.EnviarItemViewModel
@{
    Layout = null;

    var postAction = (string)ViewBag.PostAction;
    ViewBag.AjaxAction = Url.Action(postAction, "PedidosLaboratorios");
    ViewBag.MainClass = "PedidoLaboratorioMarcarView";
}

<div class="modal-header">
    <h5 class="modal-title">@Model.Label</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="fa fa-times"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    @using (Html.AjaxBeginForm((string)ViewBag.AjaxAction, (string)ViewBag.MainClass, begin: "ajaxBegin", success: "ajaxSuccess", failure: "ajaxFailure", css: "frmEnviar"))
                    {
                        @Html.HiddenFor(m => m.IdsPedidos, new { @class = "hdnMarcarIdsPedidos" })
                        @Html.HiddenFor(m => m.Accion, new { @class = "hdnMarcarAccion" })

                        <div class="row ml-3">

                            @Html.FormGroupPickerDateFor(m => m.Fecha, title: "Fecha Envío", placeholder: "Fecha", colSize: "col-md-4", addValidator: true, editingDisabled: false)

                            @Html.FormGroupPickerDateFor(m => m.FechaEstimada, title: "Fecha Estimada", placeholder: "Fecha Estimada", colSize: "col-md-4", addValidator: true, editingDisabled: false)

                            @Html.FormGroupTextBoxFor(m => m.NumeroSobre, title: "Nro. Sobre", colSize: "col-md-2", addValidator: true, editingDisabled: false)
                        </div>

                        <div class="col mt-3">
                            @Html.FormGroupTextAreaFor(m => m.Observaciones, title: "Observaciones", rows: 4, addValidator: true)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i> CERRAR</button>
    <button type="button" class="btn btn-info btSave"><i class="fa fa-check"></i> GUARDAR</button>
</div>


<script src="/js/Views/PedidosLaboratorios/enviar.js?1325"></script>