@using System.Text.RegularExpressions
@model LizardCode.SalmaSalud.Application.Models.Turnos.DemandaEspontaneaViewModel;

@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    ViewBag.Title = "";
    ViewBag.MainClass = "DemandaEspontaneaView";
    ViewBag.AjaxAction = Url.Action("DemandaEspontanea", "Turnos");
}

@section Styles {
    <link href="/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/datatables/Buttons-1.6.1/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="/lib/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/lib/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/lib/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/lib/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/css/Shared/dt-global_style.css?1325" rel="stylesheet" />

    <link href="/css/Shared/maestroLayout.css?1325" rel="stylesheet" />
    <link href="/css/Shared/modal.css?1325" rel="stylesheet" />
    <link href="/css/Views/Turnos/demandaEspontanea.css?1325" rel="stylesheet" />
}

<div class="@ViewBag.MainClass" data-mainclass="@ViewBag.MainClass">

    <div class="row mt-4">
        <div class="col">
            <div class="">
                <div class="card-header p-2 mb-1">
                    <a href="##" onClick="history.go(-1); return false;">
                        <h6 class="card-title"><i class="fa fa-arrow-left"></i> Volver</h6>
                    </a>
                    <h4> Demanda Espontánea</h4>
                    <p class="card-title mt-2">Paso 1/1 - Complete los datos del Paciente.</p>                    
                </div>
                @using (Html.AjaxBeginForm((string)ViewBag.AjaxAction, (string)ViewBag.MainClass, begin: "ajaxDemandaEspontaneaBegin", success: "ajaxDemandaEspontaneaSuccess", failure: "ajaxDemandaEspontaneaFailure", css: "frmDemandaEspontanea"))
                {

                    @Html.HiddenFor(m => m.ForzarParticular, new { @class = "hdnDemandaForzarParticular" })
                    @Html.HiddenFor(m => m.ForzarPadron, new { @class = "hdnDemandaForzarPadron" })

                    @* 
                    <div class="col-12">
                        <p><b>Datos del Paciente</b></p>
                        <hr class="mt-0">
                    </div> 
                    *@                    
                       
                    <div class="col">

                        <div class="row">

                            @Html.FormGroupDropDownListFor(m => m.IdEspecialidad, Model.MaestroEspecialidades, "", placeholder: "Especialidad", colSize: "col-md-4", fieldCss: "select2-field validate especialidadDemandaEspontanea", addValidator: true)

                            @Html.FormGroupDropDownListFor(m => m.IdProfesional, Model.MaestroProfesionales, "", placeholder: "Profesional", colSize: "col-md-4", fieldCss: "select2-field validate profesionalDemandaEspontanea", addValidator: true)

                            @Html.FormGroupDropDownListFor(m => m.IdConsultorio, Model.MaestroConsultorios, "", placeholder: "Consultorio", colSize: "col-md-4", fieldCss: "select2-field validate consultorioDemandaEspontanea", addValidator: true)
                        </div>

                        <div class="row">
                            @Html.HiddenFor(m => m.IdPaciente, new { @class = "hdnIdPaciente"})

                            @Html.FormGroupTextBoxFor(m => m.Documento, fieldCss: "form-control pacienteDocumento", title: "", placeholder: "Documento", addValidator: true, colSize: "col-md-3")

                            <div class="col-md-1 dvSearchButton">
                                <span type="button" class="btn btn-info btnBusqueda mt-4" title="BUSCAR" data-width-class="modal-70" data-ajax-action="/Pacientes/BusquedaView" data-toggle="tooltip" data-placement="top" title="BUSCAR"><i class="fa fa-search"></i></span>
                            </div>

                            @Html.FormGroupTextBoxFor(m => m.Nombre, title: "", addValidator: true, placeholder: "Nombre", colSize: "col-md-8")
                        </div>

                        <div class="alert alert-odonto text-center aUpdate" role="alert" style="display:none;">
                            <h8>
                                <i class="fa fa-info-circle"></i>
                                Recuerde validar con el paciente los datos de contacto para mantenerlos actualizados.
                            </h8>
                        </div>

                        <div class="alert alert-warning text-center aNew" role="alert" style="display:none;">
                            <h8>
                                <i class="fa fa-info-circle"></i>
                                Se dará de alta un paciente nuevo. Recuerde completar los datos del mismo al momento de recepcionarlo.
                            </h8>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">

                            @Html.FormGroupTextBoxFor(m => m.Email, title: "", placeholder: "Email", fieldCss: "form-control lowercase", addValidator: true, colSize: "col-md-4")

                            @Html.FormGroupTextBoxFor(m => m.Telefono,title: "", placeholder: "Teléfono Móvil", addValidator: true, colSize: "col-md-4")

                            <div class="col-md-2 mt-2 text-uppercase text-right" style="padding-top: 10px;">fecha nacimiento</div>

                            @Html.FormGroupPickerDateFor(m => m.FechaNacimiento, title: "", colSize: "col-md-2", addValidator: true, editingDisabled: false)

                            @Html.FormGroupTextBoxFor(m => m.Nacionalidad, title: "",  placeholder: "Nacionalidad",colSize: "col-md-4", addValidator: true)
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            @Html.FormGroupCheckboxFor(m => m.SinCobertura, title: "Sin Cobertura", colSize: "col-md-3 mt-4")

                            @Html.FormGroupDropDownListFor(m => m.IdFinanciador, Model.MaestroFinanciadores, "", placeholder: "Financiador",fieldCss: "select2-field validate financiador", addValidator: true, colSize: "col-md-3")

                            @Html.FormGroupDropDownListFor(m => m.IdFinanciadorPlan, null, "",placeholder: "Plan", fieldCss: "select2-field validate financiadorPlan", addValidator: true, colSize: "col-md-3")

                            @Html.FormGroupTextBoxFor(m => m.FinanciadorNro, title: "", placeholder: "Nro. Afiliado/Socio", addValidator: true, fieldCss: "form-control financiadorNro", colSize: "col-md-3")
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">

                            @Html.FormGroupTextAreaFor(m => m.Observaciones, title: "", placeholder: "Observaciones", rows: 3, addValidator: true)
                        </div>
                    </div>
                }
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-primary btSave"><i class="fa fa-check"></i> INGRESAR</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="/lib/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables/DateTime-1.10.x/datetime-moment.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/select.bootstrap4.min.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/select2_locale_es.js?1325"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/autonumeric/autoNumeric.min.js"></script>
    <script src="/lib/jquery-alphanum/jquery.alphanum.js"></script>
    <script src="/lib/cleave/cleave.min.js"></script>
    <script src="/lib/cleave/cleave.jquery.js"></script>
    <script src="/lib/cleave/cleave-phone.ar.js"></script>
    <script src="/lib/flatpickr/flatpickr.js"></script>
    <script src="/lib/flatpickr/es.js"></script>

    <script src="/js/Helpers/dataTables.helper.js?1325"></script>
    <script src="/js/Helpers/select2.helper.js?1325"></script>
    <script src="/js/Helpers/formData.helper.js?1325"></script>
    <script src="/js/Helpers/ajax-action.js?1325"></script>
    <script src="/js/Helpers/constraints.helper.js?1325"></script>
    <script src="/js/Helpers/accounting.helper.js"></script>
    <script src="/js/Helpers/dropdown-group-list.helper.js?1325"></script>
    <script src="/js/Helpers/parseDynamicContent.helper.js?1325"></script>

    <script src="/js/Shared/enums.js?1325"></script>

    <script src="/js/Views/Turnos/demandaEspontanea.js?1325"></script>
    <script src="/js/Shared/modals.js?1325"></script>
}