@using System.Text.RegularExpressions
@model LizardCode.SalmaSalud.Application.Models.Turnos.ReAgendarViewModel
@{
    Layout = null;
}

@Html.HiddenFor(m=> m.IdTurno, new { @class = "hdnReAgendarIdTurno"})
@Html.HiddenFor(m=> m.IdEspecialidad, new { @class = "hdnReAgendarIdEspecialidad"})
@Html.HiddenFor(m=> m.IdProfesional, new { @class = "hdnReAgendarIdProfesional"})

<div class="modal-header">
    <h5 class="modal-title">REAGENDAR Turno</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="fa fa-times"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="card">
                @*<div class="card-header p-b-0 azulClaro">
                <h6 class="card-title"><i class="fa fa-calendar"></i>  </h6>
                </div>*@
                <div class="card-body">
                    <div class="col">
                        <div class="alert alert-primary text-center" role="alert">
                            <b>@string.Format("TURNOS DISPONIBLES para {0}. Profesional: {1}.", Model.Especialidad.ToUpperInvariant(), Model.Profesional)</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="@string.Format("table table-striped dt-view dataTable dtReAgendarTurno", "00")" width="100%">
                                <thead>
                                    <tr>
                                        @*<th>Profesional</th>*@
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th style="text-align:center;">
                                            Re-Agendar
                                        </th>
                                        @*<th style="word-wrap:break-word">Observaciones</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i> CERRAR</button>
</div>
*@

<script src="/js/Views/Turnos/reAgendar.js?3661"></script>