@model LizardCode.SalmaSalud.Application.Models.Profesionales.AgendaViewModel
@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@section Styles {
    <link href="/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/datatables/Buttons-1.6.1/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="/lib/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/lib/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/lib/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/lib/timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="/css/Shared/dt-global_style.css?3661" rel="stylesheet" />

    <link href="/css/Shared/maestroLayout.css?3661" rel="stylesheet" />
    <link href="/css/Shared/modal.css?3661" rel="stylesheet" />
    <link href="/css/Views/Profesionales/index.css?3661" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/lib/fullcalendar/main.min.css">
    <link rel="stylesheet" type="text/css" href="/css/Shared/fullcalendar.css">
}

<div class="@ViewBag.MainClass" data-mainclass="@ViewBag.MainClass">

    <div class="row mt-4">
        <div class="col">
            <div class="">
                <div class="card-header p-2 mb-1">
                    <a href="##" onClick="history.go(-1); return false;">
                        <h6 class="card-title"><i class="fa fa-arrow-left"></i> Volver</h6>
                    </a>
                    <h4>@string.Format("Agenda del Profesional: {0}.", @Model.Profesional)</h4>
                    <p class="card-title mt-2">Habilitá o deshabilitá intervalos de turnos diarios disponibles para el profesional haciendo click.</p>
                </div>

                <div class="alert alert-secondary text-center aUpdate" role="alert">
                    <h8>
                        <i class="fa fa-info-circle" style="color: #00979c;"></i> Intervalo habilitado para agendar.
                        <i class="fa fa-info-circle" style="color: #b4b4b4;"></i> Intervalo disponible para habilitar.
                        <i class="fa fa-info-circle" style="color: #e2a03f ;"></i> Intervalo con un turno agendado.
                    </h8>
                </div>

                @Html.Hidden("AGENDA_IdProfesional", Model.IdProfesional, new { @id = "AGENDA_IdProfesional" })
                @Html.Hidden("AGENDA_HoraInicio", Model.HoraInicio, new { @id = "AGENDA_HoraInicio" })
                @Html.Hidden("AGENDA_HoraFin", Model.HoraFin, new { @id = "AGENDA_HoraFin" })
                @Html.Hidden("AGENDA_IntervaloTurnos", Model.IntervaloTurnos, new { @id = "AGENDA_IntervaloTurnos" })

                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="AgendaProfesional" class="agendaProfesional"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/lib/datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="/lib/timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables/DateTime-1.10.x/datetime-moment.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables/Select-1.3.1/js/select.bootstrap4.min.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/select2_locale_es.js?3661"></script>
    <script src="/lib/accounting/accounting.min.js"></script>
    <script src="/lib/autonumeric/autoNumeric.min.js"></script>
    <script src="/lib/jquery-alphanum/jquery.alphanum.js"></script>
    <script src="/lib/cleave/cleave.min.js"></script>
    <script src="/lib/cleave/cleave.jquery.js"></script>
    <script src="/lib/cleave/cleave-phone.ar.js"></script>
    <script src="/lib/flatpickr/flatpickr.js"></script>
    <script src="/lib/flatpickr/es.js"></script>

    <script src="/js/Helpers/dataTables.helper.js?3661"></script>
    <script src="/js/Helpers/select2.helper.js?3661"></script>
    <script src="/js/Helpers/formData.helper.js?3661"></script>
    <script src="/js/Helpers/ajax-action.js?3661"></script>
    <script src="/js/Helpers/constraints.helper.js?3661"></script>
    <script src="/js/Helpers/accounting.helper.js"></script>
    <script src="/js/Helpers/dropdown-group-list.helper.js?3661"></script>
    <script src="/js/Helpers/parseDynamicContent.helper.js?3661"></script>

    <script src="/js/Shared/enums.js?3661"></script>
    <script src="/lib/fullcalendar/main.min.js"></script>
    <script src="/lib/fullcalendar/locales/es.js"></script>

    <script src="/js/Views/Profesionales/agenda.js?3661"></script>
}