@model LizardCode.SalmaSalud.Application.Models.Profesionales.ProfesionalViewModel
@{
    Layout = "~/Views/Shared/MaestroLayout.cshtml";

    ViewBag.MainClass = "ABMProfesionalesView";

    ViewBag.Title = "Mantenimiento de Profesionales";
    ViewBag.TitleNew = "Nuevo profesional...";
    ViewBag.TitleEdit = "Modificar profesional...";
    ViewBag.TitleRemove = "Eliminar profesional...";
    ViewBag.ItemMenu = "Profesionales";

    ViewBag.ButtonNew = true;
    ViewBag.ButtonEdit = true;
    ViewBag.ButtonRemove = true;

    ViewBag.AjaxGetAll = Url.Action("ObtenerTodos", "Profesionales");
    ViewBag.AjaxGet = Url.Action("Obtener", "Profesionales");
    ViewBag.AjaxAdd = Url.Action("Nuevo", "Profesionales");
    ViewBag.AjaxUpdate = Url.Action("Modificar", "Profesionales");
    ViewBag.AjaxDelete = Url.Action("Eliminar", "Profesionales");

    ViewBag.Tabs = new string[] { "General", "Datos Profesional" };
    ViewBag.FormMultipart = true;
}

@section Styles {
    <link href="/css/Views/Profesionales/index.css?1361" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/lib/fullcalendar/main.min.css">
    <link rel="stylesheet" type="text/css" href="/css/Shared/fullcalendar.css">
}

@section ToolbarButtons {
        
    @* <button type="button" class="btn btn-primary btAgenda" title="Definir Agenda" disabled><i class="fas fa-calendar"></i> <span>Agenda</span></button> *@
}

@section Filters {

    @*@Html.FilterTextBoxFor(m => m.FiltroCUIT, "C.U.I.T.", value: string.Empty, placeholder: "__-________-_")*@
    @Html.FilterTextBoxFor(m => m.FiltroNombre, "Nombre", value: string.Empty)

}

@section GridColumns {

    <th>ID</th>
    <th>Nombre</th>
    <th>Especialidad</th>
    <th>Matrícula</th>
    <th>Teléfono</th>
    <th>Email</th>

}

@section CrudForm {

    @Html.HiddenFor(m => m.RemovedFirma, new { @class = "removedFirma" })

    @Html.FormGroupTextBoxFor(m => m.IdProfesional, title: "ID", editingDisabled: true, newVisible: false)

    @Html.FormGroupTextBoxFor(m => m.Nombre, title: "Nombre", addValidator: true)

    @Html.FormGroupDropDownGroupFor(m => m.Telefono, "IdTipoTelefono", Model.MaestroTipoTelefono, title: "Teléfono", addValidator: true)

    @Html.FormGroupTextBoxFor(m => m.Email, title: "Email", fieldCss: "form-control lowercase", addValidator: true)    

}

@section CrudTab01 {

    @Html.FormGroupDropDownListFor(m => m.Empresas, Model.MaestroEmpresas, "Instituciones", addValidator: true, multiple: true)

    <div class="col">
        <div class="row">

            @Html.FormGroupTextBoxFor(m => m.Matricula, title: "Matrícula Nacional", addValidator: true, colSize: "col-md-6")

            @Html.FormGroupTextBoxFor(m => m.MatriculaProvincial, title: "Matrícula Provincial", addValidator: true, colSize: "col-md-6")
        </div>
    </div>    

    @Html.FormGroupDropDownListFor(m => m.IdEspecialidad, Model.MaestroEspecialidades, "Especialidad", fieldCss: "select2-field especialidad", addValidator: true)

    @Html.FormGroupTextBoxFor(m => m.Funcion, title: "Función", addValidator: false)

    @*<div class="col">
        <div class="row">*@
            @* @Html.FormGroupButtonGroupFor(m => m.CUIT, buttonCss: "btnCUIT", buttonText: "AFIP", title: "C.U.I.T.", addValidator: true, position: "append", colSize: "col-md-6")

            @Html.FormGroupDropDownListFor(m => m.IdTipoIVA, Model.MaestroTipoIVA, "Tipo de IVA", fieldCss: "select2-field tipoIVA", addValidator: true, colSize: "col-md-6") *@
        @*</div>
    </div>    *@

    @*<div class="col">
        <div class="row">*@
            @* @Html.FormGroupCheckboxFor(m => m.ExentoIIBB, title: "Exento IIBB", colSize: "col-md-5 mt-4")

            @Html.FormGroupTextBoxFor(m => m.NroIBr, title: "N° de Ingresos Brutos", addValidator: true, colSize: "col-md-7", fieldCss: "form-control nroIBr") *@
        @*</div>
    </div>*@

    <hr />

    @* <div class="col">
        <div class="row">
            @Html.FormGroupTextBoxFor(m => m.PolizaNumero, title: "Nro. Póliza", addValidator: true, colSize: "col-md-6")

            @Html.FormGroupPickerDateFor(m => m.PolizaVencimiento, title: "Vencimiento", colSize: "col-md-6", addValidator: true, editingDisabled: false)
        </div>
    </div>

    @Html.FormGroupTextBoxFor(m => m.PolizaAseguradora, title: "Aseguradora", addValidator: true) *@
}

@* @section CrudTab02 {

    <div class="col">
        <div class="row">
            @Html.FormGroupTextBoxFor(m => m.CantidadSobreturnos, title: "# S-Turnos por día", colSize: "col-md-4 text-left", addValidator: true, fieldCss: "form-control text-right")
        </div>
        <div class="row">
            @Html.FormGroupNumberFor(m => m.TurnosIntervalo, title: "Interv. Turnos", colSize: "col-md-4 text-left", autocomplete: false, addValidator: true, minValue: 0, maxValue: 120, step: 15)
            <i class="fas fa-info-circle p-2 fa-info-dashboard" data-toggle="tooltip" data-placement="right" title="" data-original-title="Duración de cada turno. En caso de ser 0, se tomará el predeterminado de la especialidad."></i>
        </div>
    </div>
} *@

@* @section CrudTab02 {

    @Html.HiddenFor(m => m.Latitud)
    @Html.HiddenFor(m => m.Longitud)

    @Html.FormGroupTextBoxFor(m => m.Direccion, title: "Dirección", colSize: "col-md-8", autocomplete: false, addValidator: true)

    @Html.FormGroupTextBoxFor(m => m.Piso, title: "Piso", colSize: "col-md-2")

    @Html.FormGroupTextBoxFor(m => m.Departamento, title: "Depto.", colSize: "col-md-2")

    @Html.FormGroupTextBoxFor(m => m.Provincia, title: "Provincia", colSize: "col-md-5")

    @Html.FormGroupTextBoxFor(m => m.Localidad, title: "Localidad", colSize: "col-md-5")

    @Html.FormGroupTextBoxFor(m => m.CodigoPostal, title: "Código Postal", colSize: "col-md-2")
} *@

@* @section CrudTab04 {

    <div class="col">
        <div class="alert alert-info text-center" role="alert">
            <h8>
                <i class="fa fa-info-circle"></i>
                Recomendamos una imágen de menos de 1mb de peso. Una relacion de aspecto 4:3, con un máximo de 300 píxeles. Y en lo posible fondo transparente (.png).
                <br />
                En caso de no querer incluir la firma en recetas y órdenes. No completar.
            </h8>
        </div>
        <div class="row">
            <div class="form-group field col-md-12">
                <label class="form-label" for="Firma">Firma</label>
                <div class="controls">
                    <input accept="image/jpeg,image/gif,image/png" class="form-control firmaInput" data-buttontext="Buscar" data-iconname="fas fa-folder-open" id="Firma" name="Firma" type="file">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-12 text-center">
                    <div class="firmaPreview" style="display:none;">
                        <img id="firmaPreview" class="imgFirma" />
                        <button type="button" class="imgFirma-delete-icon">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
} *@

@section Scripts {

    <script src="/js/Shared/modals.js?1361"></script>
    <script src="/js/Views/Profesionales/index.js?1361"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAnt1IhTMCk1BVOjr_p4q8IxlicSEVGyw&libraries=places&callback=ABMProfesionalesView.initAutocomplete"></script>

    <script src="/lib/fullcalendar/main.min.js"></script>
    <script src="/lib/fullcalendar/locales/es.js"></script>
}
