@using LizardCode.Framework.Application.Models.MasterDetail

@model LizardCode.SalmaSalud.Application.Models.FacturacionManual.FacturacionManualViewModel
@{
    Layout = "~/Views/Shared/MaestroLayout.cshtml";

    ViewBag.MainClass = "ABMFacturacionManualView";

    ViewBag.Title = "Facturación Manual de Comprobantes";
    ViewBag.TitleNew = "Nuevo Comprobante de Venta...";
    ViewBag.TitleEdit = "Modificar Comprobante de Venta...";
    ViewBag.TitleRemove = "Eliminar Comprobante de Venta...";
    ViewBag.ItemMenu = "Comprobantes";

    ViewBag.ButtonNew = true;
    ViewBag.ButtonEdit = false;
    ViewBag.ButtonRemove = true;

    ViewBag.AjaxGetAll = Url.Action("ObtenerTodos", "FacturacionManual");
    ViewBag.AjaxGet = Url.Action("Obtener", "FacturacionManual");
    ViewBag.AjaxAdd = Url.Action("Nuevo", "FacturacionManual");
    ViewBag.AjaxUpdate = Url.Action("Modificar", "FacturacionManual");
    ViewBag.AjaxDelete = Url.Action("Eliminar", "FacturacionManual");

    ViewBag.Tabs = new string[] { "General" };
}

@section Styles {
    <link href="/css/Views/FacturacionManual/index.css?3661" rel="stylesheet" />
}

@section ToolbarButtons {
    <button type="button" class="btn btn-primary btImprimir" title="Exportar resultados" data-ajax-action="/FacturacionArticulos/Imprimir/"><i class="fas fa-print"></i> <span>Imprimir</span></button>

}

@section Filters {
    <div class="col">

        <div class="row">
            @Html.FilterDropDownListFor(m => m.IdEjercicio, Model.MaestroEjercicios, "Ejercicio", colSize: "col-md-4")
            @Html.FilterDropDownListFor(m => m.IdCliente, Model.MaestroClientes, "Cliente", colSize: "col-md-4")
        </div>

        <div class="row">
            @Html.FilterPickerDateFor(m => m.FechaDesde, "Fecha Desde", value: string.Empty, colSize: "col-md-2")
            @Html.FilterPickerDateFor(m => m.FechaHasta, "Fecha Hasta", value: string.Empty, colSize: "col-md-2")
        </div>
    
    </div>
}

@section GridColumns {

    <th>ID</th>
    <th>Tipo</th>
    <th>Sucursal</th>
    <th>Nro</th>
    <th>Número</th>
    <th>Fecha</th>
    <th>Cliente</th>
    <th>Moneda</th>
    <th>Sub-Total</th>
    <th>Total</th>
    <th>Estado</th>
    <th>CAE</th>
    <th>Vto</th>
    <th>Acciones</th>
}

@section CrudForm {

    <div class="col">
        <div class="row">
            <div class="col">
                <h4>Datos del Comprobante</h4>
            </div>
        </div>
        <div class="row">
            @Html.HiddenFor(m => m.IdComprobanteVenta)
            @Html.FormGroupDropDownListFor(m => m.IdEjercicio, Model.MaestroEjercicios, "Ejercicio", colSize: "col-md-3", addValidator:true)
            @Html.FormGroupPickerDateFor(m => m.Fecha, title: "Fecha", colSize: "col-md-3", addValidator: true, editingDisabled: false)
            @Html.FormGroupDropDownListFor(m => m.IdCondicion, Model.MaestroCondicion, "Condición de Venta", colSize: "col-md-3", addValidator:false)
            @Html.FormGroupPickerDateFor(m => m.Vto, title: "Vencimiento", colSize: "col-md-2", editingDisabled: false, addValidator: false)            
            @Html.FormGroupDropDownListFor(m => m.IdCliente, Model.MaestroClientes, "Cliente", colSize: "col-md-5", addValidator:true, editingDisabled: true)
        </div>
        <div class="row">
            @Html.FormGroupDropDownListFor(m => m.IdComprobante, Model.MaestroComprobantes, "Tipo de Comprobante", colSize: "col-md-3", addValidator:true, editingDisabled: true)
            @Html.FormGroupDropDownListFor(m => m.IdSucursal, Model.MaestroSucursales, "Sucursal", colSize: "col-md-3", addValidator:true, editingDisabled: true)
            @Html.HiddenFor(m => m.Sucursal)
            @Html.FormGroupDropDownListFor(m => m.IdMonedaComprobante, Model.MaestroMonedas, "Moneda Comprobante", colSize: "col-md-2", addValidator:true, editingDisabled: true)
            @Html.HiddenFor(m => m.Moneda)
            @Html.FormGroupInputGroupFor(m => m.Cotizacion, "Cotización", icon: "$", addValidator: true, colSize: "col-md-2", editingDisabled: true)
            @Html.FormGroupTextBoxFor(m => m.ReferenciaComercial, title: "Referencia Comercial", colSize: "col-md-2", maxLength: 45)
        </div>
        
        <hr />

        <div class="row">
            <div class="col">
                <h4>Items del Comprobante</h4>
            </div>
        </div>
            
        <div class="row">
            <div class="col">
                @await Component.InvokeAsync("MasterDetail", new MasterDetailViewModel().SetItems(
                    Model.Items,
                    x => new(nameof(x.IdAlicuota), Model.MaestroAlicuotas, nameof(x.Alicuota))
                ))
            </div>
        </div>

        <div class="inv--total-amounts">                                                        
            <div class="row mt-4">
                <div class="col-sm-5 col-12 order-sm-0 order-1">
                </div>
                <div class="col-sm-7 col-12 order-sm-1 order-0">
                    <div class="text-sm-right">
                        <div class="row">
                            <div class="col-sm-8 col-7">
                                <p class="">Sub Total: </p>
                            </div>
                            <div class="col-sm-4 col-5">
                                <p class="subtotal">$ 0</p>
                            </div>
                            @foreach (var alicuota in Model.MaestroAlicuotas)
                            {
                                <div class="impuestos col-sm-8 col-7 hide">
                                    <p class="text_iva_@alicuota.Value">I.V.A. @alicuota.Text%: </p>
                                </div>
                                <div class="impuestos col-sm-4 col-5 hide">
                                    <p class="iva_@alicuota.Value">$ 0</p>
                                </div>
                            }
                            @if(Model.AgentePercepcionAGIP)
                            {
                                <div class="col-sm-8 col-7">
                                    <p class="">Percepción I.Br. AGIP: </p>
                                </div>
                                <div class="col-sm-4 col-5">
                                    <p class="percepcionAGIP">$ 0</p>
                                </div>
                            }
                            @if(Model.AgentePercepcionARBA)
                            {
                                <div class="col-sm-8 col-7">
                                    <p class="">Percepción I.Br. ARBA: </p>
                                </div>
                                <div class="col-sm-4 col-5">
                                    <p class="percepcionARBA">$ 0</p>
                                </div>
                            }
                            <div class="col-sm-8 col-7 grand-total-title">
                                <h4 class="">Total : </h4>
                            </div>
                            <div class="col-sm-4 col-5 grand-total-amount">
                                <h4 class="total">$ 0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section CustomModals {

    @using (Html.BeginModal("Item Comprobante...", (string)ViewBag.MainClass, "modalMasterDetail"))
    {
        <div class="row">
            @Html.FormGroupDropDownListFor(m => m.Detalle.IdCuentaContable, Model.MaestroCuentas, "Cuenta Contable", addValidator: true)
        </div>
        <div class="row">
            @Html.FormGroupTextAreaFor(m => m.Detalle.Descripcion, "Descripción", addValidator: true, rows: 5)
        </div>
        <div class="row">
            @Html.FormGroupDropDownListFor(m => m.Detalle.IdAlicuota, Model.MaestroAlicuotas, "Alicuota", addValidator: true, colSize: "col-md-6")
            @Html.FormGroupInputGroupFor(m => m.Detalle.Importe, "Importe", icon: "$", addValidator: true, colSize: "col-md-6")
        </div>
    }

}

@section Scripts {
    <script src="/js/Views/FacturacionManual/index.js?3661"></script>
}
