@model LizardCode.Framework.Aplication.Models.Menu.Menu
@{
    Layout = null;
}

<ul class="list-unstyled menu-categories" id="side-menu">
    <li class="menu menu-heading">
        <div class="first heading"><i data-feather="minus"></i> <span>MENU</span></div>
    </li>

    @foreach (var item in Model.Items)
    {
        if (item.Tipo != TipoMenuItem.Item)
        {
            switch (item.Tipo)
            {
                case TipoMenuItem.Separador:
                    <li class="separator" />
                    break;
                case TipoMenuItem.Espaciador:
                    <li class="spacer" />
                    break;
            }
        }
        else if (item.SubMenu == null || item.SubMenu.Count == 0)
        {
            <li class="menu @OpenIf(item.Action)">
                <a href="@item.Action" class="dropdown-toggle">
                    <div>
                        <i data-feather="@item.Icono"></i> <span>@item.Texto</span>
                    </div>
                </a>
            </li>
        }
        else if (item.SubMenu != null && item.SubMenu.Count > 0)
        {
            <li class="menu">
                <a href="#@item.Codigo" data-toggle="collapse" aria-expanded="@OpenIfSubmenu(item, "true", "false")" class="dropdown-toggle">
                    <div>
                        <i data-feather="@item.Icono"></i> <span>@item.Texto</span>
                    </div>
                    <div>
                        <i data-feather="chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled @OpenIfSubmenu(item, "show")" id="@item.Codigo" data-parent="#side-menu">
                    @foreach (var subitem in item.SubMenu)
                    {
                        switch (subitem.Tipo)
                        {
                            case TipoMenuItem.Separador:
                                <li class="separator" />
                                break;
                            case TipoMenuItem.Espaciador:
                                <li class="spacer" />
                                break;
                            default:
                                <li class="@OpenIf(subitem.Action)"><a href="@subitem.Action"> @subitem.Texto </a></li>
                                break;
                        }
                    }
                </ul>
            </li>
        }
    }
</ul>

@functions {
    public string OpenIf(string action, string whenTrue = "active", string whenFalse = "")
    {
        try
        {
            if ((string)TempData["MenuItem"] == action)
                return whenTrue;
            else
                return whenFalse;
        }
        catch
        {
            return whenFalse;
        }
    }

    public string OpenIfSubmenu(LizardCode.Framework.Aplication.Models.Menu.ItemMenu item, string whenTrue = "active", string whenFalse = "")
    {
        try
        {
            var action = (string)TempData["MenuItem"];
            if (action != null && item.SubMenu != null && item.SubMenu.Any(a => a.Action == action))
                return whenTrue;
            else
                return whenFalse;
        }
        catch
        {
            return whenFalse;
        }
    }
} 