@model LizardCode.SalmaSalud.Application.Models.Turnos.TurnoGuardiaViewModel
@{
    Layout = "~/Views/Shared/MaestroLayout.cshtml";

    ViewBag.MainClass = "TurnosView";

    ViewBag.Title = "Guardia";
    ViewBag.TitleNew = "...";
    ViewBag.TitleEdit = "...";
    ViewBag.TitleRemove = "...";
    ViewBag.ItemMenu = "Guardia";
    ViewBag.RemoveListadoDe = true;

    ViewBag.ButtonNew = false;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Alta);
    ViewBag.ButtonEdit = false;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Modificacion);
    ViewBag.ButtonRemove = false;//PermisosBusiness.Instance.VerificarPermisos(ModuloOperativo.Usuarios, Permiso.Baja);

    ViewBag.AjaxGetAll = Url.Action("ObtenerTodos", "TurnosGuardia");
}

@section Styles {
    <link href="/css/Views/Turnos/index.css?3661" rel="stylesheet" />
}

@section ToolbarButtons {

    <button type="button" class="btn btn-secondary btHistoriaClinicaTb" title="Historia Clínica" disabled><i class="fa fa-search"></i> VER HISTORIA CLÍNICA</button>
}

@section Filters {

}

@section GridColumns {

    <th>Tipo</th>
    <th>Paciente</th>
    <th>Cobertura</th>
    <th>Espera</th>
    <th>Acciones</th>
    <th></th>
    <th></th>

}

@section CrudForm {

}

@section CustomModals {

    @using (Html.BeginModal("Recetas...", "ABMEvolucionesView", "modalMasterDetail", dialogClass: "modal-50"))
    {
        <div class="row">
            <div class="form-group field col-md-12">
                <label class="form-label" for="Medicamento">Medicamento</label>
                <div class="controls">
                    @Html.HiddenFor(m => m.Receta.IdVademecum)
                </div>
            </div>
        </div>
        <div class="row">
            @Html.FormGroupTextBoxFor(m => m.Receta.Cantidad, "Cantidad", colSize: "col-md-4", addValidator: true)
            @Html.FormGroupTextBoxFor(m => m.Receta.Dosis, "Dosis", colSize: "col-md-4", addValidator: true)
            @Html.FormGroupTextBoxFor(m => m.Receta.Frecuencia, "Frecuencia", colSize: "col-md-4", addValidator: true)
            @Html.FormGroupCheckboxFor(m => m.Receta.NoSustituir, title: "No Sustituir")
        </div>
        <div class="row">
            @Html.FormGroupTextAreaFor(m => m.Receta.Indicaciones, "Indicaciones", rows: 5)
        </div>
    }

    @using (Html.BeginModal("Ordenes...", "ABMEvolucionesView", "modalMasterDetailOrdenes"))
    {
        <div class="row">
            @Html.FormGroupTextAreaFor(m => m.Orden.Descripcion, "Descripción", rows: 2)
        </div>
        <div class="row">
            @Html.FormGroupTextAreaFor(m => m.Orden.Indicaciones, "Indicaciones", rows: 5)
        </div>
    }
}

@section Scripts {

    <script src="/js/Shared/modals.js?3661"></script>
    <script src="/js/Views/TurnosGuardia/index.js?3661"></script>
}
