@model LizardCode.Framework.Application.Models.Errors.ErrorsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <title>@GlobalSettings.TituloSistema @Model.Title</title>

    <!--https://www.favicon-generator.org/-->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/@ViewBag.Domain/iconset/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/@ViewBag.Domain/iconset/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/@ViewBag.Domain/iconset/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/@ViewBag.Domain/iconset/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/@ViewBag.Domain/iconset/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/@ViewBag.Domain/iconset/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/@ViewBag.Domain/iconset/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/@ViewBag.Domain/iconset/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/@ViewBag.Domain/iconset/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/@ViewBag.Domain/iconset/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/@ViewBag.Domain/iconset/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/@ViewBag.Domain/iconset/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/@ViewBag.Domain/iconset/favicon-16x16.png">
    <link rel="manifest" href="/img/@ViewBag.Domain/iconset/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/@ViewBag.Domain/iconset/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/img/@ViewBag.Domain/iconset/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/@ViewBag.Domain/iconset/favicon.ico" type="image/x-icon">

    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    
    <link href="~/css/Shared/plugins.css?3661" rel="stylesheet" />

    <link href="~/css/Brand/@ViewBag.Domain/style.css?3661" rel="stylesheet" />

    <link href="~/css/Views/Errors/index.css?3661" rel="stylesheet" />
</head>
<body class="error404 text-center">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="@Url.Action(Model.UrlRedirect, "Home")">
                    <img src="~/img/brand/@ViewBag.Domain/main-logo.png" class="theme-logo">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number">@Model.Code</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text mb-4 mt-1">@Model.Message</p>
            <a href="@Url.Action(Model.UrlRedirect, "Home")" class="btn btn-primary mt-5">Volver</a>
        </div>
    </div>
    <script src="~/lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>

    @if (Model.Exception != null)
    {
        <script>
            console.error("@Html.Raw(Model.Exception)");
        </script>
    }

</body>
</html>